/* General */
    * {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0 auto;
      padding: 0;
      font-family: 'Roboto Slab', serif;
      /* background: #fefefe; */
      color: #2F2D2E;
    }

    a {
      color: #04aba8 !important;
    }

    .non-nav {
      padding-top: 50px;
    }

    input {
      font-family: 'Roboto Slab', serif;
      color: gray;
    }

    button {
      color: #04aba8 !important;
      border-color: #04aba8 !important;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
      padding: 0;
      min-width: 100px;
    }

/* Navbar */

    .NavBar {
      height: 50px;
      padding-top: 10px;
      position:fixed;
      z-index: 3;
      background: white;
      width: 100%;
    }

    .NavBar a, .NavBar span {
      color: gray !important;
      margin-bottom: 15px;
      padding: 5px;
    }

    .NavBar a:hover {
      color: #048BA8 !important;
    }

    .standard {
      float: left;
    }

    .account {
      float:right;
    }

    .account a, .account span {
      margin-left: 30px;
      margin-right: 20px;
    }

    .standard a {
      margin-left: 20px;
      margin-right: 30px;
    }

    .logo {
      width: 90px;
    }

    @media (min-width: 576px) and (max-width: 767px) {      
      .account a {
        margin-left: 15px;
        margin-right: 10px;
      }
  
      .standard a {
        margin-left: 10px;
        margin-right: 15px;
      }
    }

    @media (max-width: 575px) {
      .account a {
        margin-left: 10px;
        margin-right: 5px;
      }
  
      .standard a {
        margin-left: 5px;
        margin-right: 10px;
      }

      .NavBar .name {
        display: none;
      }
    }

/* Home Page */
    .home-background-box{
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
      margin: 0px auto;
      position: relative;  
    }

    .home-background {
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      max-height: 100%;
      z-index: 0;
    }

    .home-title-box {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 40%;
      height: auto;
      max-height: 375px;
      margin: 10% auto;
      background: rgba(255,255,255,0.8);
      border-radius: 20px;
    }

    .home-title {
      padding: 6% 10% 0 10%;
      text-align: center;
      font-weight: bold;
    }

    .home-body {
      text-align: justify;
      padding: 1% 10% 10% 10%;
    }

    .home-body li {
      padding-left: 20px;
      text-indent: -15px;
    }

    .home-buttons {
      width: 250px;
      margin: 0 auto;
      margin-top: -20px;
    }

    .home-buttons button {
      margin: 5px;
    }

    @media (min-width: 992px) and (max-width: 1480px) {      
      .home-buttons {
        display:none;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 50px auto;
      }
      
      .home-title {
        padding: 50px 30px 0 30px;
      }

      .home-buttons {
        display:none;
      }
    }

    @media (min-width: 576px) and (max-width: 767px) {      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 50px auto;
      }
      
      .home-title {
        padding: 40px 30px 0 30px;
      }

      .home-body {
        font-size: 12px;
        margin: -10px;;
      }

      .home-buttons {
        display:none;
      }
    }

    @media (max-width: 575px) {
      .home-background-box{
        width: 350px;
        height: 350px;
      }

      .home-background {
        border-radius: 20px;
      }
      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 35px auto;
      }

      .home-title {
        padding: 30px 30px 0 30px;
      }

      .home-body {
        text-align: center;
      }

      .home-body li {
        display: none;
      }

      .home-buttons {
        display:none;
      }
    }

/* Search View */
    .search-heading {
      margin-top: 10%;
      text-align: center;
    }  

    .location-heading {
      text-align: center;
    }

    #blank {
      border: 1px solid red;
    }

    .form-box {
      width: 500px;
      height: 300px;
    }

    .search-form {
      width: 500px;
      margin: 0 auto;
    }

    .search-form input {
      text-align: center;
    }

    .search-form button {
      color: #04aba8 !important;
      border-color: #04aba8;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
      padding: 0;
    }

    #results-quantity {
      width: 60px;
    }

    .dates {
      width: 430px;
      margin: 0 auto;
    }

    .date-label {
      margin: 5px;
    }

    .checkbox {
      margin: 15px;
    }

   label {
      font-size: 10px !important;
    }

    .left-button {
      margin-right: 10px;
      width: 126px;
    }

    .middle-button {
      width: 128px;
    }

    .right-button {
      margin-left: 10px;
      width: 126px;
    }

    .search-form button:hover {
      color: gray !important;
    }

    .white-text {
      color: lightgray;
    }

    .search-images {
      width: 1020px;
      margin: 0 auto;
    }

    .background-img, .map {
      width: 500px;
      height: 400px;
      border-radius: 20px;
      margin: 5px;
      display: inline-block;
    }

    h3 {
      text-align:center;
    }

    .display-none {
      visibility: hidden;
    }

    .walk-score {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
    }

    .exploring {
      margin-top: 15px;
    }

    .search-results {
      max-width: 1350px;
      margin: 30px auto;
    }

    .search-category {
      width: 250px;
      max-height: 250px;
      margin: 10px;
      padding-top: 100px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    .card-2 {
      display: inline-block;  
      overflow: hidden;
    }

    .card-2:hover>img {
      opacity: .5;
      z-index: 0
    }

    .card-img-0, .card-img-1, .card-img-2, .card-img-3 {
      object-fit: cover;
      width: 250px;
      height: 250px;  
      /* max-width: 250px;
      max-height: 250px; */
      border-radius: 10px;
      overflow:hidden;
      margin: 10px;
      position: absolute;
      z-index: 2;
    }

    .card-img-1 {
      border: 2px #E24E42 solid;
    }
 
    .card-img-2 {
     border: 2px #E9B000 solid;
   }
 
   .card-img-3 {
     border: 2px #EB6E80 solid;
   }
 
   .card-img-0 {
     border: 2px #008F95 solid;
   }

   .card-overlay-0, .card-overlay-1, .card-overlay-2, .card-overlay-3 {
      border-radius: 10px;
      padding: 30px;
      width: 250px; 
      height: 250px;
      margin: 10px;
      position: relative;
      z-index: 1;
      color:white;
   }

   .card-overlay-1 {
     background: #E24E42;
   }

   .card-overlay-2 {
    background: #E9B000;
  }

  .card-overlay-3 {
    background: #EB6E80;
  }

  .card-overlay-0 {
    background: #008F95;
  }

   .yelp-categories {
    font-size: 10px;
    margin-bottom: 5px;
    width: 100%;
  }

  .body-text {
    font-size: 14px;
  }

  .card-title {
    text-align: center;
    font-weight: bold;
  }

  .card-title a {
    color: white !important;
  }


  /* .card-title-0, .card-title-1, .card-title-2, .card-title-3 {
    text-align: center;
    font-weight: bold;
  }

  .card-title-0 a {
    color: lime !important;
  }

  .card-title-1 a {
    color: purple !important;
  }

  .card-title-2 a {
    color: white !important;
  }

  .card-title-3 a {
    color: black !important;
  } */
  
  .card-info {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }


  @media (min-width: 1080px) and (max-width: 1349px) {      
    .search-results {
      width: 1080px;
    }
  }

  @media (min-width: 815px) and (max-width: 1079px) {      
    .search-results {
      width: 815px;
    }
  }

  @media (min-width: 543px) and (max-width: 815px) {      
    .search-results {
      width: 543px;
    }
  }

  @media (max-width: 543px) {
    .search-results {
      width: 250px;
    }
  }

/* Profile */
  .profile-container {
    width: 700px;
    margin: 100px auto;
  }

  .profile-container h2 {
    width: 255px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .searches {
    height: 50px;
    width: 700px;
  }

  .searches button {
    float: right;
    margin-left: 10px;
  }

/* Edit Profile */

    .SignUp button {
      /* margin: 15px; */
      color: #04aba8 !important;
      padding: 0;
      border-color: #04aba8;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
    }
    
    .SignUp .left-button, middle-button {
      color: #04aba8 !important;
      
    }

    .SignUp .right-button {
      color: white !important;    
      background: gray;
    }
