body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  /* background: #fefefe; */
}

.non-nav {
  padding-top: 50px;
}

/* Navbar */

    .NavBar {
      height: 50px;
      padding-top: 10px;
      position:fixed;
      z-index: 3;
      background: white;
      width: 100%;
    }

    .NavBar a {
      color: gray;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 5px;
    }

    .NavBar a:hover {
      color: #048BA8;
    }

    .account {
      float:right;
    }

    .account a {
      margin-left: 30px;
      margin-right: 10px;
    }

    .standard a {
      margin-left: 10px;
      margin-right: 30px;
    }

    .logo {
      width: 90px;
    }

/* Home Page */

    .home-background-box{
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
      margin: 0px auto;
      position: relative;  
    }

    .home-background {
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      max-height: 100%;
      /* border-radius: 20px; */
      z-index: 0;
    }

    .home-title-box {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 40%;
      height: auto;
      max-height: 375px;
      margin: 100px auto;
      background: rgba(255,255,255,0.8);
      border-radius: 20px;
      color: #2F2D2E;
    }

    .home-title {
      padding: 5% 10% 0 10%;
      text-align: center;
      font-weight: bold;
    }

    .home-body {
      text-align: justify;
      padding: 1% 10% 10% 10%;
    }

    .home-body li {
      padding-left: 20px;
      text-indent: -15px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .home-background-box{
        width: 600px;
        height: 600px;
      }
      
      .home-background {
        position: absolute;
        left: -1000%;
        right: -1000%;
        top: -1000%;
        bottom: -1000%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
        border-radius: 20px;
        z-index: 0;
      }
      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 60px auto;
      }
      
      .home-title {
        padding: 70px 30px 0 30px;
        text-align: center;
        font-weight: bold;
      }
    }

    @media (min-width: 576px) and (max-width: 767px) {
      .home-background-box{
        width: 525px;
        height: 525px;
      }

      .home-background {
        border-radius: 20px;
      }
      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 50px auto;
      }
      
      .home-title {
        padding: 70px 30px 0 30px;
        text-align: center;
        font-weight: bold;
      }
    }

    @media (max-width: 575px) {
      .home-background-box{
        width: 350px;
        height: 350px;
      }

      .home-background {
        border-radius: 20px;
      }
      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 35px auto;
      }

      .home-title {
        padding: 30px 30px 0 30px;
        text-align: center;
        font-weight: bold;
      }

      .home-body {
        text-align: center;
      }

      .home-body li {
        display: none;
      }
    }

/* Search View */
    .search-heading {
      margin: 10px;
      text-align: center;
    }  

    .search-form {
      width: 400px;
      margin: 0 auto;
    }

    .search-form input {
      font-family: 'Roboto Slab', serif;
      text-align: center;
    }

    .search-form button {
      color: #04aba8 !important;
      border-color: #04aba8;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
    }

    .left-button {
      margin-right: 10px;
      width: 126px;
    }

    .middle-button {
      width: 128px;
    }

    .right-button {
      margin-left: 10px;
      width: 126px;
    }

    .search-form button:hover {
      color: gray !important;
    }

   
    


/* OTHER */

/* .background {
  width: 900px;
  height: 400px;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
} */

/* .background-img {
  margin: 0 auto;
} */

/* h2 {
  position: absolute;
  text-align: center;
  margin: 100px;
  font-weight: bold;
  width:100%;
} */

.card {
  width: 300px;
  height: 410px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

/* .card-img {
  height: 250px;  
  max-width: 250px;
  overflow: hidden;
  margin: 5px auto;
} */

.card-img-box {
  width: 270px;
  height: 200px;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
}

.card-img {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-info {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.yelp-categories {
  font-size: 10px;
  margin-bottom: 5px;
}