/* General */
    * {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0 auto;
      padding: 0;
      font-family: 'Roboto Slab', serif;
      /* background: #fefefe; */
      color: #2F2D2E;
    }

    a {
      color: #04aba8 !important;
    }

    .non-nav {
      padding-top: 50px;
    }

    input {
      font-family: 'Roboto Slab', serif;
      color: gray;
    }

    button {
      color: #04aba8 !important;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
      padding: 0;
      float: right;
      min-width: 100px;
    }

    .button-outline {
      border-color: #04aba8 !important;
    }

    .swirly-font {
      font-family: 'Clicker Script', cursive;
    }

/* Navbar */
    .NavBar {
      height: 50px;
      padding-top: 5px;
      position:fixed;
      z-index: 3;
      background: white;
      width: 100%;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

    .NavBar a, .NavBar span {
      color: gray !important;
      margin-bottom: 15px;
      padding: 5px;
    }

    .NavBar a:hover {
      color: #048BA8 !important;
    }

    .standard {
      float: left;
    }

    .account {
      float:right;
      margin-top: 3px;
    }

    .account a, .account span {
      margin-left: 30px;
      margin-right: 20px;
    }

    .standard a {
      margin-left: 20px;
      margin-right: 30px;
    }

    .swirly-nav {
      font-size: 24px; 
      letter-spacing: 1px;      
    }


    /* .logo {
      width: 90px;
    } */

    @media (min-width: 576px) and (max-width: 767px) {      
      .account a {
        margin-left: 15px;
        margin-right: 10px;
      }
  
      .standard a {
        margin-left: 10px;
        margin-right: 15px;
      }
    }

    @media (max-width: 575px) {
      .account a {
        margin-left: 10px;
        margin-right: 5px;
      }
  
      .standard a {
        margin-left: 5px;
        margin-right: 10px;
      }

      .NavBar .name {
        display: none;
      }
    }



/* Search */
    .search-heading {
      margin-top: 3%;
      text-align: center;
    }  

    .swirly-heading {
      font-size: 100px;
    }

/* Search Form */
    #blank {
      border: 1px solid #E24E42;;
    }

    .adv {
      float: right;
      text-align: right;
      margin-bottom: 10px;
    }

    .form-box {
      width: 670px;
      height: 400px;
    }

    .search-form {
      width: 670px;
      margin: 0 auto;
    }

    .search-form input {
      text-align: center;
    }

    .search-form button {
      color: #04aba8 !important;
      border-color: #04aba8;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
      padding: 0;
    }

    #results-quantity {
      width: 60px;
    }

    .dates {
      width: 430px;
      margin: 0 auto;
    }

    .date-label {
      margin: 5px;
    }

    .checkbox, .checkbox-long, .checkbox-short {
      margin: 5px;
      display: inline-block;
    }

    .checkbox {
      width: 100px;      
    }

    .checkbox-long {
      width: 130px;
    }

    .checkbox-short {
      width: 90px;
    }

   label {
      font-size: 10px !important;
    }

    .search-form button:hover {
      color: gray !important;
    }

    .cat-groups {
      width: 670px;
      min-height: 37px;
    }

    .check-title {
      width: 100px;
      display: inline-block;
    }

    .results-title {
      width: 120px;
      display: inline-block;
    }

/* Results */
    .buttons-bar {
      height: 50px;
    }

    .eventful-badge,
    .eventful-badge * {
      margin: 0             !important;
      padding: 0            !important;
      border: 0             !important;
      text-align: center    !important;
      color: #CCC           !important;
      font-family: Arial    !important;
      text-decoration: none !important;
    }
    
    .eventful-large {
      position: relative    !important;
      width: 140px          !important;
      font-size: 15px       !important;
      line-height: 17px     !important;
      font-weight: bold     !important;
    }
    
    .eventful-medium {
      position: relative    !important;
      width: 100px          !important;
      font-size: 12px       !important;
      line-height: 13px     !important;
    }                     
                          
    .eventful-small {     
      position: relative    !important;
      width: 100px          !important;
      font-size: 11px       !important;
      line-height: 11px     !important;
    }



/* Tile View */
    .search-results {
      max-width: 1350px;
      margin: 30px auto;
    }

    .search-category {
      width: 250px;
      height: 250px;
      margin: 10px;
      padding-top: 100px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    .card-2 {
      display: inline-block;  
      overflow: hidden;
    }

    .card-2:hover>img {
      opacity: .5;
      z-index: 0
    }

    .card-img-0, .card-img-1, .card-img-2, .card-img-3 {
      object-fit: cover;
      width: 250px;
      height: 250px;  
      /* max-width: 250px;
      max-height: 250px; */
      border-radius: 10px;
      overflow:hidden;
      margin: 10px;
      position: absolute;
      z-index: 2;
    }

    .card-img-1 {
      border: 2px #E24E42 solid;
    }
 
    .card-img-2 {
     border: 2px #E9B000 solid;
   }
 
   .card-img-3 {
     border: 2px #EB6E80 solid;
   }
 
   .card-img-0 {
     border: 2px #008F95 solid;
   }

   .card-overlay-0, .card-overlay-1, .card-overlay-2, .card-overlay-3 {
      border-radius: 10px;
      padding: 25px 10px;
      width: 250px; 
      height: 250px;
      margin: 10px;
      position: relative;
      z-index: 1;
      color:white;
   }

   .card-overlay-1 {
     background: #E24E42;
   }

   .card-overlay-2 {
    background: #E9B000;
  }

  .card-overlay-3 {
    background: #EB6E80;
  }

  .card-overlay-0 {
    background: #008F95;
  }

  .yelp-categories {
    font-size: 10px;
    margin-bottom: 5px;
    width: 100%;
  }

  .body-text {
    font-size: 14px;
  }

  .card-title {
    text-align: center;
    font-weight: bold;
  }

  .card-title a {
    color: white !important;
  }
  
  .card-info {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: 1080px) and (max-width: 1349px) {      
    .search-results {
      width: 1080px;
    }
  }

  @media (min-width: 815px) and (max-width: 1079px) {      
    .search-results {
      width: 815px;
    }
  }

  @media (min-width: 543px) and (max-width: 815px) {      
    .search-results {
      width: 543px;
    }
  }

  @media (max-width: 543px) {
    .search-results {
      width: 250px;
    }
  }


/* List View */
    .search-results-list-0, .search-results-list-1, .search-results-list-2, .search-results-list-3 {
      width: 300px;
      border-radius: 20px;
      text-align: center;
      margin: 30px;
      padding: 10px;
      float: left;
      font-size: 12px;
    }

    .search-results-list-1 {
      background: #E24E42;
    }

    .search-results-list-2 {
    background: #E9B000;
    }

    .search-results-list-3 {
    background: #EB6E80;
    }

    .search-results-list-0 {
    background: #008F95;
    }

    .search-results-list-0 a, .search-results-list-1 a, .search-results-list-2 a, .search-results-list-3 a {
      color: white !important;
    }

    .list-result {
      padding: 10px;
    }

    .music-spacing {
      margin-top: 15px;
    }

    .non-a {
      color: white !important;
    }


/* Profile */
  .profile-container {
    width: 700px;
    margin: 100px auto;
  }

  .profile-container h2 {
    width: 255px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .searches {
    height: 50px;
    width: 700px;
  }

  .searches button {
    float: right;
    margin-left: 10px;
  }

/* Edit Profile */

    .SignUp button {
      /* margin: 15px; */
      color: #04aba8 !important;
      padding: 0;
      border-color: #04aba8;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
    }
    
    .SignUp .left-button, middle-button {
      color: #04aba8 !important;
      
    }

    .SignUp .right-button {
      color: white !important;    
      background: gray;
    }

    .page-end {
      clear: both;
    }