body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}

/* Home Page */

.home-background-box{
  width: 900px;
  height: 600px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

.home-background {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%  
}

.background {
  width: 900px;
  height: 400px;
  overflow: hidden;
  margin: 15px auto;
  position: relative;

  /* for h2 over top */
  /* position: relative; 
  width: 100%; */
}

.background-img {
  /* position: relative; */
  /* opacity: 0.5; */
  margin: 0 auto;

  /* position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.5; */
}

h2 {
  position: absolute;
  text-align: center;
  margin: 100px;
  font-weight: bold;
  width:100%;

  /* for h2 over top */
  /* position: absolute; 
  top: 100px; 
  left: 300px; 
  width: 100%;  */
}

/* for h2 over top */
/* h2 span {
  color: black; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(255, 255, 255); 
  background: rgba(255, 255, 255, 0.7);
  padding: 10px; 
} */

/* .yelp-restaurants {
  width: 50%;
} */

.card {
  width: 300px;
  height: 410px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

/* .card-img {
  height: 250px;  
  max-width: 250px;
  overflow: hidden;
  margin: 5px auto;
} */

.card-img-box {
  width: 270px;
  height: 200px;
  overflow: hidden;
  margin: 15px auto;
  position: relative;
}

.card-img {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-info {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.yelp-categories {
  font-size: 10px;
  margin-bottom: 5px;
}