* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  /* background: #fefefe; */
  color: #2F2D2E;
}

a {
  color: #04aba8 !important;
}

.non-nav {
  padding-top: 50px;
}

input {
  font-family: 'Roboto Slab', serif;
}

/* Navbar */

    .NavBar {
      height: 50px;
      padding-top: 10px;
      position:fixed;
      z-index: 3;
      background: white;
      width: 100%;
    }

    .NavBar a, .NavBar span {
      color: gray !important;
      margin-bottom: 15px;
      padding: 5px;
    }

    .NavBar a:hover {
      color: #048BA8;
    }

    .standard {
      float: left;
    }

    .account {
      float:right;
    }

    .account a {
      margin-left: 30px;
      margin-right: 20px;
    }

    .standard a {
      margin-left: 20px;
      margin-right: 30px;
    }

    .logo {
      width: 90px;
    }

/* Home Page */

    .home-background-box{
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
      margin: 0px auto;
      position: relative;  
    }

    .home-background {
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      max-height: 100%;
      /* border-radius: 20px; */
      z-index: 0;
    }

    .home-title-box {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 40%;
      height: auto;
      max-height: 375px;
      margin: 10% auto;
      background: rgba(255,255,255,0.8);
      border-radius: 20px;
    }

    .home-title {
      padding: 6% 10% 0 10%;
      text-align: center;
      font-weight: bold;
    }

    .home-body {
      text-align: justify;
      padding: 1% 10% 10% 10%;
    }

    .home-body li {
      padding-left: 20px;
      text-indent: -15px;
    }

    @media (min-width: 768px) and (max-width: 991px) {      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 50px auto;
      }
      
      .home-title {
        padding: 50px 30px 0 30px;
      }
    }

    @media (min-width: 576px) and (max-width: 767px) {      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 50px auto;
      }
      
      .home-title {
        padding: 40px 30px 0 30px;
      }
    }

    @media (max-width: 575px) {
      .home-background-box{
        width: 350px;
        height: 350px;
      }

      .home-background {
        border-radius: 20px;
      }
      
      .home-title-box {
        width: 80%;
        height: 80%;
        margin: 35px auto;
      }

      .home-title {
        padding: 30px 30px 0 30px;
      }

      .home-body {
        text-align: center;
      }

      .home-body li {
        display: none;
      }
    }

/* Search View */
    .search-heading {
      margin-top: 10%;
      text-align: center;
    }  

    .search-form {
      width: 400px;
      margin: 0 auto;
    }

    .search-form input {
      text-align: center;
    }

    .search-form button {
      color: #04aba8 !important;
      border-color: #04aba8;
      font-family: 'Roboto Slab', serif;
      text-transform: inherit;
      padding: 0;
    }

    .left-button {
      margin-right: 10px;
      width: 126px;
    }

    .middle-button {
      width: 128px;
    }

    .right-button {
      margin-left: 10px;
      width: 126px;
    }

    .search-form button:hover {
      color: gray !important;
    }

    .white-text {
      color: lightgray;
    }

    .search-images {
      width: 1020px;
      margin: 0 auto;
    }



    .background-img, .map {
      width: 500px;
      height: 400px;
      /* max-height: 400px; */
      border-radius: 20px;
      margin: 5px;
      display: inline-block;
    }



    h3 {
      text-align:center;
    }

    .display-none {
      visibility: hidden;
    }

    .walk-score {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
    }

    .exploring {
      margin-top: 15px;
    }

    .search-results {
      width: 1350px;
      margin: 30px auto;
    }

    .search-category {
      width: 250px;
      height: 250px;
      margin: 10px;
      padding-top: 100px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    .card-2 {
      display: inline-block;  
      overflow:hidden;
    }

    .card-2:hover>img {
      opacity: .5;
      z-index: 0
    }

    .card-img-2 {
      width: 250px;
      height: 250px;  
      /* max-width: 250px;
      max-height: 250px; */
      border-radius: 10px;
      overflow:hidden;
      margin: 10px;
      position: absolute;
      z-index: 2;
    }

    .object-fit_cover {
      object-fit: cover;
    }
  
   .card-overlay {
     background: rgba(255,255,255,0.7);
     padding: 30px;
     width: 250px; 
     height: 250px;
     margin: 10px;
     position: relative;
     z-index: 1;
   }

   .yelp-categories {
    font-size: 10px;
    margin-bottom: 5px;
    width: 100%;
  }

  .body-text {
    font-size: 14px;
  }

  .card-title {
    text-align: center;
    font-weight: bold;
  }

  .card-title a {
    color: #048BA8;
  }
  
  .card-info {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }


  @media (min-width: 1080px) and (max-width: 1349px) {      
    .search-results {
      width: 1080px;
    }
  }

  @media (min-width: 815px) and (max-width: 1079px) {      
    .search-results {
      width: 815px;
    }
  }

  @media (min-width: 543px) and (max-width: 815px) {      
    .search-results {
      width: 543px;
    }
  }

  @media (max-width: 543px) {
    .search-results {
      width: 250px;
    }
  }

  /* Profile */

  .profile-container {
    width: 700px;
    margin: 100px auto;
  }

  .profile-container h2 {
    width: 255px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .searches {
    height: 50px;
    width: 600px;
  }

  .searches button {
    float: right;
    margin-left: 10px;
  }

  /* Edit Profile */

  .SignUp button {
    /* margin: 15px; */
    color: #04aba8 !important;
    padding: 0;
    border-color: #04aba8;
    font-family: 'Roboto Slab', serif;
    text-transform: inherit;
  }
  
  .SignUp .left-button, middle-button {
    color: #04aba8 !important;
    
  }

  .SignUp .right-button {
    color: white !important;    
    background: gray;
  }
